<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>图片管理</title>
    <link type="text/css" rel="stylesheet" href="/static/css/upload.css" />
</head>
<body>
    <div class="content">
        <a href="#" class="add">
            <label>添加</label>
            <input type="hidden" value="{{ csrf_token }}" id="csrf"/>
        </a>

        <div id="UploadPin" style="display: none; " class="ModalContainer  destroy">
            <div class="overlay"></div>
            <div class="modal wide ">
                <div class="header">
                    <a href="#" class="close">
                        <strong>Close</strong>
                        <span></span>
                    </a>
                    <h2>上传图片</h2>
                </div>
                <div class="PinTop">
                    <a id="upload_button" href="#" onclick="return false;" class="btn btn18 wbtn">
                        <strong> 选择图片文件</strong>
                        <span></span>
                    </a>
                    <div style="position: absolute; opacity: 0.01; overflow: hidden; ">
                        <input type="file" name="file" size="1" style="position: absolute; top: 0px; left: 0px; border: 0px; " multiple />
                    </div>
                </div>
                <div id="preview"></div>
                <div class="submit">
                    <span>确定提交</span>
                </div>
            </div>
        </div>

        <div id="container"></div>

    </div>
</body>
<script type="text/javascript" src="/static/js/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.masonry.min.js"></script>
<script type="text/javascript">
    var page = 0;
    var addImages = function(page) {
        $.get('/api/pics/?page=' + page, function(rst) {
            if(!(rst instanceof Object))
                rst = JSON.parse(rst);
            path = rst.content;
            var data = [];
            for(var i = 0, len = path.length; i < len; i++) {
                data.push('<div class="box"><a><img src="' + path[i] + '"/></a></div>');
            }
            $boxes = $(data.join(''));
            var $container = $('#container');
            if(page === 0) {
                $container.append($boxes);
                $container.imagesLoaded(function(){
                    $container.masonry({
                        itemSelector : '.box'
                    });
                });
            } else {
                $('#container').append($boxes);
                $container.imagesLoaded(function(){
                    $container.masonry('appended', $boxes);
                });
            }
        })
    }

    addImages(page);

    window.onload = function() {
        var page = 0, reset = 0;
        $(document).on('scroll', function() {
            var pageHeight = document.documentElement.scrollHeight;
            var clientHeight = document.documentElement.clientHeight;
            var bottom = pageHeight - clientHeight - 20;
            var scrollTop = document.body.scrollTop;
            if(reset === 0) {
                if(scrollTop > bottom) {
                    page++;
                    window.setTimeout(addImages(page), 1000);
                    reset = 1;
                }
            } else {
                window.setTimeout(function() { reset = 0; }, 1000);
            }
        })
    }

    var config = {
        'fileInput': $('input[type="file"]'),
        'addNode': $('.add'),
        'closeNode': $('.close'),
        'uploadButton': $('#upload_button'),
        'uploadPin': $('#UploadPin'),
        'submit': $('.submit'),
        'url': '/upload/',
        'csrf_token': $('#csrf').val(),
        'fileFilter': []
    }
    var Upload = function(config) {
        this.config = config;
    }
    Upload.prototype = {
        init: function() {
            self = this;
            self.fileInput = config.fileInput;
            self.addNode = config.addNode;
            self.closeNode = config.closeNode;
            self.uploadButton = config.uploadButton;
            self.uploadPin = config.uploadPin;
            self.submit = config.submit;
            self.url = config.url;
            self.csrf_token = config.csrf_token;
            self.fileFilter = config.fileFilter;
            self.bindUI();
        },
        bindUI: function() {
            var fileInput = self.fileInput, uploadPin = self.uploadPin;
            self.uploadButton.click(function() {
                fileInput.trigger('click');
            })
            self.addNode.click(function() {
                uploadPin.show();
                console.log(self.fileFilter);
            })
            $('.close').click(function() {
                uploadPin.hide();
                self.fileFilter = [];
                $('#preview').html('');
            })
            self.fileInput.on('change', self.getFiles);
            self.submit.on('click', self.uploadFiles);
        },
        getFiles: function() {
            var files = this.files;
            self.fileFilter = self.fileFilter.concat(self.filterFiles(files));
            self.dealFiles();
        },
        filterFiles: function(files) {
            var arrFiles = [];
            for (var i = 0, len = files.length; i < len; i++) {
                var file = files[i];
                if (file.type.indexOf("image") == 0) {
                    arrFiles.push(file);
                } else {
                    alert('文件"' + file.name + '"不是图片。');
                }
            }
            return arrFiles;
        },
        dealFiles: function() {
            for (var i = 0, file; file = this.fileFilter[i]; i++) {
                file.index = i;
            }
            self.previewFiles(self.fileFilter);
            return this;
        },
        previewFiles: function(files) {
            var html = '', i = 0, previewNode = $("#preview");
            previewNode.html('<div class="upload_loading"></div>');
            var appendImage = function() {
                file = files[i];
                if(file) {
                    var reader = new FileReader(), name = file.name;
                    reader.onload = function() {
                        html = html + '<img class="img-"' + i + '" src="' + this.result + '"/>';
                        i++;
                        appendImage();
                    }
                    reader.readAsDataURL(file);
                } else {
                    previewNode.html(html);
                    $('.submit').show();
                }
            }
            appendImage();
        },
        uploadFiles: function() {
            var formData = new FormData(), files = self.fileFilter;
            for(var i = 0, len = files.length; i < len; i++) {
                var file = files[i];
                formData.append('file' + i, file);
                formData.append('csrfmiddlewaretoken', self.csrf_token);
            }
            console.log(formData);
            $.ajax({
                url: self.url,
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function(result) {
                    if(result)
                        window.location.reload();
                    else
                        alert('上传图片失败');
                },
                error: function() {
                    alert('上传图片失败');
                }
            })
        }
    }
    new Upload().init();
</script>
</html>