<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Cache-Control" content="no-cache">
    <title>图片管理</title>
    <!-- Bootstrap -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script type="text/javascript" src="/static/js/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
    <style type="text/css">
        .hero-unit .file-input-wrapper {
            margin: 20px 0 10px 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <a class="brand">Uploading Images</a>
            </div>
        </div>
        <div class="hero-unit">
            <h1>图片管理</h1>
        </div>
        <a class="file-input-wrapper btn">"Uploading"
            <input id="file" type="file" style="position:absolute;left:260px;top:280px;opacity:0;z-index:99;" multiple/>
        </a>
        <input type="hidden" value="{{ csrf_token }}" id="csrf"/>
        <div id="demo_result"></div>
    </div>
</body>
<script type="text/javascript">
    var config = {
        'fileInput': $('#file'),
        'result': $('#demo_result'),
        'url': '/upload/',
        'csrf_token': $('#csrf').val()
    }
    var Upload = function(config) {
        this.config = config;
    }
    Upload.prototype = {
        init: function() {
            self = this;
            this.fileInput = config.fileInput;
            this.result = config.result;
            this.url = config.url;
            this.csrf_token = config.csrf_token;
            this.bindUI();
        },
        bindUI: function() {
            self.fileInput.on('change', self.getFiles);
        },
        getFiles: function() {
            var files = this.files;
            var formData = new FormData();
            var csrf_token = self.csrf_token;
            for(var i=0; file=files[i]; i++) {
                formData.append('file', file);
                formData.append('csrfmiddlewaretoken', csrf_token);
            }
            self.uploadFiles(formData);
        },
        uploadFiles: function(data) {
            $.ajax({
                url: self.url,
                type: 'POST',
                data: data,
                processData: false,
                contentType: false,
                success: function(result) {
                    console.log(result);
                }
            })
        }
    }
    new Upload().init();
</script>
</html>